html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    height: 100%;
    font-family: $font-family-system;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $body-color;
    text-align: left;
    background-color: $body-bg;
    padding: 3rem 0;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 640px;
}

.beta {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background-color: $gray-darker;
    color: #fff;
    font-style: italic;
}
