html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $font-family-system;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $body-color;
    text-align: left;
    background-color: $body-bg;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;

    &__primary {
        flex: 1 0 auto;
        padding: 1rem;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
    }

    &__secondary {
        display: none;
    }

    &__content {
        max-width: 640px;
        margin: 0 auto;
    }

    @media (min-width: 600px) {
        &__secondary {
            display: flex;
            justify-content: center;
            align-items: center;
            order: -1;
        }
    }

    @media (min-width: 1200px) {
        width: 50%;

        &__primary {
            padding: 2rem;
            border-right: 1px solid $gray-lighter;
        }

        &__secondary {
            position: fixed;
            top: 0;
            left: 50%;
            bottom: 0;
            right: 0;
        }
    }
}
