.markdown {
    font-size: 1.125rem;

    /* Vertical Rythm */
    > * {
        margin-bottom: 2rem;
    }

    a {
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
    }

    /* Images */
    img,
    video {
        display: block;
        max-width: 100%;
        margin: 0 auto 2rem;
        color: $gray;
        font-style: italic;
        text-align: center;
    }

    figure {
        max-width: none;
        margin: 2rem auto;
        text-align: center;

        img {
            margin-bottom: 0;
        }
    }

    figcaption {
        padding-top: 0.75rem;
        font-style: italic;
        font-size: 1rem;
    }

    /* Video */
    video {
        max-width: 100%;
        height: auto;
    }

    /* Headings */
    h2,
    h3,
    h4 {
        position: relative;
        margin-top: 2em;
        margin-bottom: 0.5em;

        &:first-child {
            margin-top: 0;
        }
    }

    /* Lists */
    ul,
    ol {
        list-style-position: inside;
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }
}
