h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.3;
}

h1,
.h1 {
    font-size: 2rem;
    text-rendering: optimizeLegibility;
}

h2,
.h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

h3,
.h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

a {
    color: $brand-primary;
    font-weight: 500;
    text-decoration: none;

    &:hover,
    &:focus {
        color: darken($brand-primary, 10%);
        text-decoration: underline;
    }
}
