{% set r = 170 %}
{% set ri = 50 %}
{% set w = 600 %}
{% set h = 440 %}
{% set nodes = members|mapNodes(r, w, h) %}

<svg class="map {% if members|length > 10 %}map--dense{% endif %}" width="{{ w }}" height="{{ h }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink">
    <circle cx="{{ w/2 }}" cy="{{ h/2 }}" r="{{ r }}" class="map__circle"></circle>
    <clipPath id="map-image-mask">
        <circle cx="{{ w/2 }}" cy="{{ h/2 }}" r="{{ ri }}" />
    </clipPath>
    {% if meta.image %}
        <image class="map__image" x="{{ w/2 - ri }}" y="{{ h/2 - ri }}" clip-path="url(#map-image-mask)" xlink:href="/assets/images/{{ meta.image }}" width="{{ ri*2 }}" height="{{ ri*2 }}" />
    {% else %}
        <circle cx="{{ w/2 }}" cy="{{ h/2 }}" r="{{ ri }}" class="map__center"></circle>
    {% endif %}
    {% for node in nodes %}
        <a href="{{ node.url }}"><circle r="10" cx="{{ node.x }}" cy="{{ node.y }}" class="map__node"></circle></a>
        <text x="{{ node.x }}" y="{{ node.y - 15 }}" text-anchor="middle" class="map__tooltip">{{ node.title }}</text>
    {% endfor %}
</svg>
