<form class="form" name="signup" method="POST" data-netlify="true" netlify-honeypot="bot">
    <p class="form__field">
        <label for="input-name" class="form__label">Site Name:</label>
        <input type="text" name="name" id="input-name" class="form__input" placeholder="Frank's awesome site" required />
    </p>
    <p class="form__field">
        <label for="input-url" class="form__label">Site URL:</label>
        <input type="url" name="url" id="input-url" class="form__input" placeholder="https://www.franks-site.org" required />
    </p>
    <p class="form__field">
        <label for="input-feed" class="form__label">RSS Feed URL (optional):</label>
        <input type="url" name="feed" id="input-feed" class="form__input" placeholder="https://www.franks-site.org/feed.xml" />
    </p>
    <div class="sr-only" style="visibility:hidden" aria-hidden="true">
        <label for="input-bot">Don’t fill this out if you're human:</label>
        <input type="text" name="bot" id="input-bot" />
    </div>
    <div class="u-align-right">
        <button type="submit" class="btn btn--primary">Please Add Me!</button>
    </div>
</form>