<form class="form" name="signup" method="POST" data-netlify="true" netlify-honeypot="bot">
    <p>
        <label for="input-name">Site Name:</label>
        <input type="text" name="name" id="input-name" placeholder="Frank's awesome site" />
    </p>
    <p>
        <label for="input-url">Site URL:</label>
        <input type="url" name="url" id="input-url" placeholder="https://www.franks-site.org" />
    </p>
    <p>
        <label for="input-feed">RSS Feed URL (optional):</label>
        <input type="url" name="feed" id="input-feed" placeholder="https://www.franks-site.org/feed.xml" />
    </p>
    <div class="sr-only" aria-hidden="true">
        <label for="input-bot">Don’t fill this out if you're human:</label>
        <input type="text" name="bot" id="input-bot" />
    </div>
    <button type="submit" class="btn btn--primary">Please Add Me!</button>
</form>