<img class="wr__image" src="{{ meta.url }}/assets/images/{{ meta.image }}'" alt="" part="image"/>
<p>Member of the <a href="{{ meta.url }}">{{ meta.title }}</a> webring</p>
<a href="{{ meta.url }}/prev">Previous</a>
<a href="{{ meta.url }}/random">Random</a>
<a href="{{ meta.url }}/next">Next</a>