<webring-banner>
    <p>Member of the <a href="{{ meta.url }}">{{ meta.title }}</a> webring</p>
    <a href="{{ meta.url }}/prev">Previous</a>
    <a href="{{ meta.url }}/random">Random</a>
    <a href="{{ meta.url }}/next">Next</a>
</webring-banner>
<script async src="{{ meta.url }}/embed.js" charset="utf-8"></script>
