<div class="webring-banner">
  <div class="webring-banner__header">
    <img class="webring-banner__image" src="{{ meta.url }}/assets/images/{{ meta.image }}" alt="'Robotbill' by Jakob Vala" />
    <p class="webring-banner__description">
      This site is part of the <a href="{{ meta.url }}">{{ meta.title }}</a> webring.
    </p>
  </div>
  <p class="webring-banner__links">
    <a href="{{ meta.url }}/prev">Previous</a>
    <a href="{{ meta.url }}/random">Random</a>
    <a href="{{ meta.url }}/next">Next</a>
  </p>
</div>
