// Colors
//
// Grayscale.

$gray-darkest: #121212;
$gray-darker: #323232;
$gray-dark: #4a4a4a;
$gray: #a0a0a0;
$gray-light: #c5c6c6;
$gray-lighter: #e6e6e6;
$gray-lightest: #f6f8fa;

// Brand

$brand-primary: #7b16ff;

// Body
//
// Settings for the `<body>` element.

$body-bg: $gray-lightest;
$body-color: $gray-darker;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-monospace: Menlo, Monaco, Consolas, 'Andale Mono', 'Courier New',
    monospace;

$font-family-base: $font-family-system;
$font-weight-base: 400;
$font-size-base: 1rem;
$line-height-base: 1.625;
