.beta {
    position: absolute;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 80px 80px 0;
    border-color: transparent $gray-darker transparent transparent;

    &::after {
        content: 'beta';
        display: block;
        color: #fff;
        font-style: italic;
        transform: rotate(45deg);
        position: absolute;
        top: 12px;
        right: -70px;
    }
}
