.btn {
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1),
        0 2px 4px 0 rgba(14, 30, 37, 0.12);
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.618em;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.btn--primary {
    color: #fff;
    background-color: $brand-primary;

    &:hover,
    &:focus {
        text-decoration: none;
        background-color: $brand-primary-dark;
        color: #fff;
    }
}

.btn--github {
    display: inline-flex;
    align-items: center;
    color: #fff;
    background-color: #231f20;

    &:hover,
    &:focus {
        background-color: #111;
        text-decoration: none;
        color: #fff;
    }

    svg {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        margin-right: 0.5em;
        fill: currentColor;
    }
}
