.form {
    background-color: #fff;
    border-radius: 0.5rem;
    border: 1px solid $gray-light;
    box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
    padding: 1.5rem;

    &__field {
        margin-bottom: 1rem;
    }
    &__label {
        display: block;
        font-weight: bold;
        margin-bottom: 0.25rem;
        font-size: 0.875rem;
    }
    &__input {
        display: block;
        width: 100%;
        font-size: 1rem;
        border: 1px solid $gray-light;
        border-radius: 0.25rem;
        background-color: #fff;
        padding: 0.75rem 1rem;
    }
}
