.map {
    &__circle {
        fill: transparent;
        stroke: $gray-light;
        stroke-width: 3;
    }
    &__title {
        font-size: 1rem;
        font-weight: bold;
    }
    &__center {
        fill: $brand-primary;
        fill-opacity: 0.25;
    }
    &__image {
        border-radius: 50%;
    }
    &__node {
        fill: $gray-dark;
        stroke-width: 5;
        stroke-opacity: 0;
        stroke: $brand-primary;

        &:hover {
            fill: $brand-primary;
            stroke-opacity: 1;
        }
    }
    &__tooltip {
        font-weight: bold;
    }
}

.map--dense {
    .map__tooltip {
        opacity: 0;
    }
    .map__node:hover + .map__tooltip {
        opacity: 1;
    }
}
