.memberlist {
    max-height: 250px;
    border: 1px solid $gray-lighter;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &__item {
        &:not(:last-child) {
            border-bottom: 1px solid $gray-lighter;
        }
        &:nth-child(even) {
            background-color: rgba($gray-light, 0.1);
        }
    }

    &__link {
        display: block;
        padding: 0.25rem;
    }
}
