.repolink {
    position: absolute;
    top: 0;
    right: 0;

    svg {
        position: relative;
        z-index: 1;
        fill: #fff;
        margin: 10px;
    }

    &::after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        right: 0;
        border-style: solid;
        border-width: 0 80px 80px 0;
        border-color: transparent $gray-darker transparent transparent;
    }
    &:hover::after {
        border-color: transparent $gray-darkest transparent transparent;
    }

    @media (min-width: 1200px) {
        position: fixed;
    }
}
