.webring {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 4px solid $gray-lighter;

    &__header {
        margin-bottom: 2rem;
    }

    &__title {
        margin-bottom: 0.5rem;
    }

    &__subtitle {
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__memberlist {
        max-height: 150px;
        border: 1px solid $gray-lighter;

        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    &__member {
        &:not(:last-child) {
            border-bottom: 1px solid $gray-lighter;
        }
        &:nth-child(even) {
            background-color: rgba($gray-light, 0.1);
        }
    }

    &__link {
        display: block;
        padding: 0.25rem 0.5rem;
        text-decoration: none;
    }
}
