.webring {
    &__card {
        position: relative;
        margin-bottom: 2rem;
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
    }

    &__header,
    &__body {
        padding: 1.5rem;
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $gray-lighter;
    }

    &__description {
        flex: 1 0 50%;
    }

    &__image {
        display: block;
        object-fit: center;
        object-position: center;
        width: 75px;
        height: 75px;
        border: 2px solid #fff;
        border-radius: 50%;
        margin-right: 1.5rem;
    }

    &__title {
        margin-bottom: 0.5rem;
    }

    &__subtitle {
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__memberlist {
        max-height: 200px;
        border: 1px solid $gray-lighter;

        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    &__member {
        &:not(:last-child) {
            border-bottom: 1px solid $gray-lighter;
        }
        &:nth-child(even) {
            background-color: rgba($gray-light, 0.1);
        }
    }

    &__link {
        display: block;
        padding: 0.25rem 0.5rem;
        text-decoration: none;
    }

    @media (max-width: 500px) {
        &__header {
            display: block;
            padding-top: 60px;
        }
        &__image {
            position: absolute;
            top: -20px;
        }
    }
}
