<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="main.css">
  <base target="_parent">
</head>

<body class="embed">
<div class="container">
  <p>
    This site is part of <a href="{{ meta.url }}">Cyberqueer</a>, a webring with
    {{ members | length }} members.
  </p>
  <p class="ring-nav">
    <a href="{{ meta.url }}/prev" aria-label="Go to previous site" id="prev">◄ Previous</a>
    <a href="{{ meta.url }}/random" aria-label="Go to a random site" id="random">Random</a>
    <a href="{{ meta.url }}/next" aria-label="Go to next site" id="next">Next ►</a>
  </p>
</div>
<script>
  if (parent !== window) {
    const referer = encodeURIComponent(new URL(document.referrer).origin);

    function fixup(elem) {
      elem.href = elem.href + "?referer=" + referer;
    }

    fixup(document.getElementById("prev"));
    fixup(document.getElementById("random"));
    fixup(document.getElementById("next"));
  }
</script>
</body>

</html>
