---
layout: base
---

{% include 'webring.njk' %}

<div class="markdown">
    <h2>What's this?</h2>
    <p>
        A community of sites around a common topic, also known as a <a href="https://en.wikipedia.org/wiki/Webring">webring</a>. 
        Each member includes a badge on their site that links to the previous and next sites in the ring. 
        Kids in the 90s used to love it!
    </p>

    <h2>How to join</h2>
    <p>
        To join the webring, <a href="{{ meta.repo }}/compare">open a pull request</a> 
        and supply the name and URL of your site. If you publish a RSS feed, you can provide that as well.
    </p>
    <p>
        If you don't have a Github account, you can also use this form to sign up. 
        The webring admins will then look at your site and handle your request.
    </p>

    {% include 'signupform.njk' %}

    <h2>Add the banner</h2>
    <p>
        Once you've joined the ring, copy this code snippet into your site:
    </p>

    {% highlight 'html' %}{% include 'snippet.njk' %}{% endhighlight %}

    <p>
        It will render this banner that links to the other members:
    </p>

    {% include 'snippet.njk' %}

    <p>
    If the post or page you have for your ghost won't support the banner (or if you don't like how it looks), you can do a simpler set of links:
    </p>
    
    {% highlight 'html' %}
    <p align="center">&#128123; <i>Member of the <a href="https://ukagakawebring.netlify.com/" target="_new">Ukagaka/Ghost Development and Download</a> webring</i> &#128123;</p>
    <p align="center">&#128123; | <a href="https://ukagakawebring.netlify.com//prev">Previous</a> |
    <a href="https://ukagakawebring.netlify.com//random">Random</a> |
    <a href="https://ukagakawebring.netlify.com//next">Next</a> | &#128123;</p>
    <script async src="https://ukagakawebring.netlify.com//embed.js" charset="utf-8"></script>{% endhighlight %}
    
    <p>
    You can of course adjust this html snip any way you like to better suit your ghost's page! The key things are the link to the ring itself and the previous/next/random links.
    </p>
    
    <h2>Want to host your own webring?</h2>
    <p>
        If you want to start your own webring, fork 
        <a href="https://github.com/maxboeck/webring">this project</a> on Github 
        and follow the instructions in the README.
    </p>

    {% include 'github.njk' %}
</div>
