---
layout: base
---

{% include 'webring.njk' %}

<div class="markdown">
    <h2>Η ομάδα μας</h2>
    <p>
        Αυτό είναι το webring της ομάδας OompaLoompas για το μάθημα Τεχνολογίες Λογισμικού του ΣΤ' εξαμήνου.
    </p>

    <h2>How to join</h2>
    <p>
        To join the webring, <a href="{{ meta.repo }}/compare">open a pull request</a> 
        and supply the name and URL of your site.
    </p>
    
    {% include 'signupform.njk' %}
    
    {% highlight 'html' %}{% include 'snippet.njk' %}{% endhighlight %}

    {% include 'snippet.njk' %}
    
    {% include 'github.njk' %}
</div>
