<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ title or meta.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">
    <link type="application/atom+xml" rel="alternate" href="feeds.xml" title="{{ meta.title }}">
</head>
<body>
    <div class="container">
        {{ content | safe }}
    </div>

    {% if is_front %}
    <script src="/assets/scripts/map.js"></script>
    {% endif %}
</body>
</html>



